

  <div class="bg">
      
      
      <section class="page1">
          <div class="bg-page1">
              <div class="bg"></div>
          </div>
          <div class="text">
              <div class="content">
                  <div class="heading">Multi Speciality <br> Hospital</div>
                  <div class="para">A heritage in care. <br> A reputation in excellence .</div>
              </div>
              <a class="button" routerLinkActive="active" routerLink="create-patient"  href="create-patient" style="text-decoration :none; color: burlywood"> Book Appointment -> </a>
          </div>
      </section>
  </div>
  <footer class="footer  ">
    <div class="container">
        <span>**Created By Isha Jain&reg; </span>
    </div>
  </footer>



  
