*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.box{
    width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,rgb(104, 144, 219),rgb(57, 83, 132),rgb(19, 47, 99));
}
